/*input {*/
/*    display: block;*/
/*    margin: 2em auto;*/
/*    border: none;*/
/*    padding: 0;*/
/*    width: 4.5ch;*/
/*    font: 5ch droid sans mono, consolas, monospace;*/
/*    letter-spacing: 0.5ch;*/
/*    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 4ch 2px no-repeat;*/
/*}*/
/*input:focus {*/
/*    outline: none;*/
/*    color: dodgerblue;*/
/*}*/

input {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid rgb(137, 151, 155);
    transition: border-color 150ms ease-in-out 0s;
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
    padding-right: 12px;

}

input:hover{
    box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
}